.main{
    width: calc(100% - 320px);
    padding: 40px;
    padding-left: 280px;
}

.main h1{
    font-size: 28px;
}

.mb{
    margin-bottom: 12px;
}

.form{
    max-width: 500px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.displayFlex{
    display: flex;
    gap: 20px;
}

.characteristics{
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
}

.characteristicsItem{
    display: flex;
    gap: 10px;
}

.buttonAdd{
    margin-top: 10px;
}

.characteristicsItem + .characteristicsItem{
    margin-top: 8px;
}