/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover{
  color: #00CDF0;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

:root {
  --rs-primary-700: #00CDF0;
  --rs-gray-50: #EEE;
  --rs-gray-800: #02121C;
}

body{
  background: #EEEEEE;
  color: #02121C;
}

.container{
  max-width: 1200px;
  width: 100%;
}

.swiper-button-prev:after, .swiper-button-next:after{
  color: #02121C !important;
  width: 23px !important;
  height: 23px !important;
  font-size: 23px !important;
  text-align: center !important;
}

.home .swiper-wrapper{
  padding-bottom: 44px;
}

.swiper-pagination-bullet-active{
  background: #00CDF0 !important;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
  .container{
    width: 968px;
  }
}

@media (max-width:1000px) {
  .container{
    width: 730px;
  }
}
  
@media (max-width:768px) {
  .container{
    width: 560px;
  }
}
  
@media (max-width:576px) {
  .container{
    width: 96%;
  }
}