.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banners{
    height: 420px;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.homeBanner{
    background: rgba(2, 19, 29, 0.9);
    width: 900px;
    height: 100%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.secondaryBanners{
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topBanner{
    height: 205px;
    width: 100%;
    border-radius: 8px;
    background: #183641;
    position: relative;
    overflow: hidden;
}

.bottomBanner{
    height: 205px;
    width: 100%;
    border-radius: 8px;
    background: #183641;
    position: relative;
    overflow: hidden;
}

.bannerImg{
    position: absolute;
    bottom: 0;
    right: 80px;
    z-index: 1;
}

.homeBannerText{
    padding: 60px 60px 0 60px;
}

.bannerOnline{
    font-size: 10px;
    font-weight: 400;
    color: #FFF;
    position: relative;
    padding-left: 16px;
}

.bannerOnline::before{
    content: "";
    background: #00CEF2;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    animation: online 2s linear infinite;
}

@keyframes online {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.homeBannerText h1{
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
    max-width: 450px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.homeBannerText p{
    font-size: 14px;
    font-weight: 400;
    color: #EEEEEE;
    max-width: 450px;
    margin-bottom: 30px;
}

.bannerButton{
    background: #183641;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s;
    padding: 16px 32px;
    border-radius: 8px;
}

.bannerButton:hover{
    background: #EEEEEE;
    color: #183641;
}

.textBanner{
    line-height: 1.1;
    color: #FFFDFD;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
}

.span{
    background: #F7F7F7;
    width: 110px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
    color: #183641;
    border-radius: 0 0 8px 8px;
    margin-left: 30px;
    z-index: 2;
    position: relative;
}

.topBanner img{
    position: absolute;
    right: -30px;
    top: -55px;
    transform: rotate(-45deg);
    z-index: 1;
}

.bottomBanner img{
    position: absolute;
    right: -15px;
    bottom: 25px;
    z-index: 1;
}


.advantage{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.advantageItem{
    height: 230px;
    background: #FFF;
    border-radius: 8px;
    width: calc(20% - 10px);
    color: #02121C;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.circle{
    width: 128px;
    border-radius: 50%;
    height: 128px;
    background: linear-gradient(190deg, rgba(2,18,28,1) 0%, rgba(24,54,65,1) 100%);
    /* position: relative; */
}

.circle img{
    position: absolute;
    height: 140px;
    object-fit: cover;
    width: 200px;
    left: 0;
}

.text{
    width: 100%;
}

.text p{
    width: 100%;
    color: #02121C;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 900;
    margin: 0;
}


.advantageItem .text p:nth-child(2){
    text-align: center;
}

.custom p:nth-child(2){
    text-align: right;
    padding-left: 40px;
}



.custom2 p:nth-child(1){
    padding-left: 30px;
}

.shadow1{
    position: absolute;
    width: 660px;
    height: 595px;
    background: radial-gradient(circle, rgba(0,205,240,0.9) 0%, rgba(0,205,240,0) 65%);
    filter: blur(10px);
    right: -185px;
    top: 20px;
}

.shadow2{
    position: absolute;
    width: 272px;
    height: 241px;
    background: radial-gradient(circle, rgba(0,205,240,1) 0%, rgba(0,205,240,0.041053921568627416) 57%);
    filter: blur(10px);
    right: -97px;
    top: -83px;
    opacity: 0.7;
}

.shadow3{
    position: absolute;
    width: 302px;
    height: 292px;
    background: radial-gradient(circle, rgba(0,205,240,0.46) 0%, rgba(114,227,246,0.54) 45%, rgba(114,227,246,0.1) 67%);
    filter: blur(10px);
    left: -211px;
    top: -98px;
    opacity: 0.7;
}


@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
    .homeBanner{
        width: 710px;
    }

    .secondaryBanners{
        width: 250px;
    }

    .bannerImg{
        right: 10px;
    }

    .shadow1{
        width: 460px;
    }

    .textBanner{
        font-size: 22px;
    }

    .text p{
        font-size: 16px;
    }

    .custom p:nth-child(2){
        padding-left: 60px;
    }
    
    .advantageItem{
        height: 210px;
        padding: 16px;
    }
    
    .custom2 p:nth-child(1){
        padding-left: 0px;
    }
}

@media (max-width:1000px) {
    .banners{
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }

    .homeBanner{
        width: 100%;
        height: 400px;
    }

    .secondaryBanners{
        flex-direction: row;
    }

    .secondaryBanners{
        width: 100%;
        gap: 10px;
    }

    .bannerImg{
        height: 360px;
        right: 30px;
    }

    .advantage{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .text p{
        font-size: 18px;
    }

    .advantageItem{
        width: calc(calc(100% - 20px) / 3);
    }

    .custom2 p:nth-child(1){
        padding-left: 20px;
    }
}
  
@media (max-width:768px) {
    .homeBannerText{
        padding: 40px 24px 0 24px;
    }

    .bannerOnline{
        font-size: 12px !important;
        padding-left: 14px;
        margin: 0 !important;
    }

    .homeBannerText h1{
        font-size: 43px;
        margin-bottom: 20px;
        max-width: 300px;
    }

    .homeBannerText p{
        max-width: 300px;
    }

    .advantageItem{
        width: calc(calc(100% - 20px) / 2);
    }
}
  
@media (max-width:576px) {

}